<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>cookie <%= cookies[:teste_C]%></h2>
<h2>session <%= session[:teste_S]%></h2>

<h2><%= I18n.t("hello")%></h2>
<h2><%= I18n.l(Date.today) %></h2>

<% alert_msg = "Bom dia!" %>
<script>
    $.notify("<%= alert_msg %>", "success");
</script>